{% load static %}
{%include 'main.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="input-group mt-3 mb-5">
                    <select class="custom-select" id="inputGroupSelect04" >
                        {% for categories in categories_render %}
                        <option value=""class="text-black">{{categories.categories}}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                    <button class="btn btn-outline-white bg-pinky text-white" type="submit" href="{%url 'Home'%}">Filtrar</button>
                    </div>
                </div>
                
                <h3 class=" input-group text-center mb-5 mt-5">Últimas Respuestas</h3>
                {%for answers in answer_render%}
                <li>{{answers.answer}}</li>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}